@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #061f2c;
  margin: 0px;
  padding: 0px;
  color: #C0A554;
  overflow-x: hidden;
}
 
h1, h2, p, label {
  color: #C0A554;
  margin: 0;
  
}
 
input, textarea {
  font-family: 'Roboto', sans-serif;
}
 
button:hover {
  background-color: #b8924b;
}

.login-card {
  background-color: #f9f9f9;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.log {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #061f2c;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #C0A554;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #C0A554;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #a68945;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-20px);
  }
  60% {
      transform: translateY(-10px);
  }
}

@keyframes glow {
  0% {
      box-shadow: 0 0 5px rgba(255, 215, 0, 0.7);
  }
  50% {
      box-shadow: 0 0 20px rgba(255, 215, 0, 1);
  }
  100% {
      box-shadow: 0 0 5px rgba(255, 215, 0, 0.7);
  }
}

.animate-bounce {
  animation: bounce 0.6s ease forwards;
}

.hover-glow:hover {
  animation: glow 2s infinite;
}



  
/* Media Queries */

/* Para dispositivos móveis (smartphones) */
@media only screen and (max-width: 480px) {
  body {
      padding: 10px;
      background-color: #e0e0e0; /* Fundo diferente em smartphones */
  }

  h1 {
      font-size: 1.5em; /* Título menor */
  }

  p {
      font-size: 0.9em; /* Texto menor */
  }
}

/* Para tablets */
@media only screen and (max-width: 768px) {
  h1 {
      font-size: 1.75em; /* Título um pouco menor */
  }

  p {
      font-size: 1em; /* Texto no tamanho padrão */
  }
}

/* Para laptops */
@media only screen and (max-width: 1024px) {
  body {
      padding: 15px; /* Um pouco mais de espaço */
  }

  h1 {
      font-size: 2em; /* Título normal */
  }
}

/* Para desktops menores */
@media only screen and (max-width: 1280px) {
  body {
      max-width: 900px; /* Limitar a largura em desktops menores */
      margin: auto; /* Centralizar */
  }
}

/* Para desktops grandes */
@media only screen and (min-width: 1281px) {
  body {
      max-width: 1200px; /* Largura maior para desktops grandes */
      margin: auto; /* Centralizar */
  }

  h1 {
      font-size: 2.5em; /* Título maior */
  }
}

/* Para impressão */
@media print {
  body {
      background-color: white; /* Fundo branco para impressão */
      color: black; /* Texto preto */
  }

  h1 {
      font-size: 1.5em; /* Ajuste do tamanho do título */
  }

  p {
      font-size: 0.9em; /* Ajuste do tamanho do texto */
  }
}
