@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Roboto', sans-serif;
  background-color: #061f2c;
  margin: 0;
  padding: 0;
  color: #C0A554;
  overflow-x: hidden;
}
 
h1, h2, p, label {
  color: #C0A554;
  margin: 0;
  
}
 
input, textarea {
  font-family: 'Roboto', sans-serif;
}
 
button:hover {
  background-color: #b8924b;
}

.login-card {
  background-color: #f9f9f9;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  margin-bottom: 20px;
}

.log {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #061f2c;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #C0A554;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #C0A554;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #a68945;
}



